@media (max-width:480px) {

    .upper{

        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
        font-size: 150%;
    }
    
    .rest {

        margin-left: 5%;
        margin-right: 5%;
        height: 20%;
        width: 20%;
        border-radius: 10%;
        border: none;
    }
    
    .start {
    
        height: 20%;
        width: 20%;
        border-radius: 10%;
        border: none;
    }
    
    .stop 
    {
        border-radius: 10%;
        height: 20%;
        width: 20%;
        border: none;
        margin-right: 5%;
    }

    .log{

        height: 20%;
        width: 20%;
        border-radius: 10%;
        border: none;
    }








}